:root{
    --vermelho: #e50914;
    --preta: #141414;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}



header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


header .logo{
    margin: 5px;
    color: var(--vermelho);
    font-family: 'Arial black', times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: blanchedalmond;
}

/*Filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/capa.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(82, 80, 80, 0.5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: black;
}

.carrosel-filmes{
    margin-top: 5px;   
}




/*HTML DOCUMENTARIOS*/

.filme-documentarios{
    font-size: 10px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/Documentario.jpg');

    height: 210px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}




/*HTML FILMES*/

.filmes{
    font-size: 10px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/Filmes.jpg');

    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/*HTML SERIES*/

.series{
    font-size: 10px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/series.jpg');

    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/*RODAPÉ DO INDEX.HTML*/

.rodape{
    width: 65%;
    height: 200px;
    display: flex;
    margin: 35px auto 35px auto;
    justify-content:space-between;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
 }


li{
    list-style-type: none;
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: rgb(114, 114, 119);
}

footer ul{
    margin: auto;
    text-align: center;
    text-decoration: none;
  }

h3{
    text-align: center;
    margin: auto auto 30px auto;
}



